img {
  border: 0;
}
input {
  outline: 0;
}
.cart_tit_n {
  height: 35px;
  width: 990px;
  margin: 0 auto;
}
.cart_tit_n .cart_word {
  font: 400 16px/35px "Microsoft YaHei";
  float: left;
}
.cart_tit_n .cart_login {
  color: #666;
  line-height: 35px;
  float: right;
}
.cart_tit_n .cart_login a {
  color: #666;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
.cart_tit_n .cart_login a img {
  float: left;
  margin: 0 2px;
}
.cart_n {
  width: 990px;
  margin: 0 auto;
}
.cart_n li {
  border-bottom: 1px dotted #e1e1e1;
  padding: 20px 0;
  float: left;
  width: 990px;
}
.cart_n li .check {
  width: 40px;
  float: left;
  margin: 22px 0 0 35px;
}
.cart_n li .pic {
  float: left;
  width: 75px;
}
.cart_n li .pic .pic img {
  width: 60px;
  height: 60px;
}
.cart_n li a {
  color: #333;
}
.cart_n li a:hover {
  color: #ff9000;
}
.cart_n li .name {
  margin: 0 40px 0 0;
  width: 270px;
  float: left;
}
.cart_n li .name a {
  text-overflow: clip;
  display: block;
  overflow: hidden;
  line-height: 22px;
  height: 44px;
}
.cart_n li .price {
  font: 400 18px/22px "Microsoft YaHei";
  float: left;
  width: 115px;
}
.c_quantity {
  float: left;
  margin: 0 0 0 5px;
  width: 84px;
}
.c_quantity p {
  float: left;
  margin-top: 3px;
  line-height: 16px;
  _height: 16px;
}
.c_quantity .textgt_n {
  border: 1px solid #dadada;
  width: 36px;
  font-size: 14px;
  height: 14px;
  padding: 3px;
  line-height: 14px;
  float: left;
  text-align: center;
  display: inline;
  margin: 0 5px;
}
.cart_n li .subtotal {
  float: left;
  width: 115px;
  margin-left: 30px;
  font: 400 20px/22px "Microsoft YaHei";
  color: #ff9000;
}
.cart_n li .distribution {
  float: left;
  width: 80px;
  text-align: center;
  line-height: 22px;
}
.cart_n li .operating {
  width: 80px;
  float: right;
  line-height: 22px;
}
.cart_n li .operating .mt5 {
  margin-top: 5px;
}
.hzcart {
  width: 990px;
  line-height: 30px;
  text-align: right;
  margin: 0 auto;
}
.hzcart .del_all {
  float: left;
  width: 200px;
  margin: 25px 0 0 22px;
}
.hzcart .del_all .check {
  width: 40px;
  float: left;
  text-align: center;
}
.hzcart a.select {
  float: left;
  line-height: normal;
  color: #333;
  margin-right: 30px;
}
.hzcart a.delete {
  float: left;
  _height: 20px;
}
.hzcart .details {
  text-align: right;
  line-height: 60px;
}
.hzcart .details span {
  margin-left: 20px;
  color: #333;
  font: 400 14px/60px "Microsoft YaHei";
}
.hzcart .details font {
  color: #eb6100;
  font: 400 16px/60px "Microsoft YaHei";
  margin-right: 5px;
}
.hzcart .all_price {
  font: 400 14px/26px "Microsoft YaHei";
}
.hzcart .all_price span {
  font: 800 24px/26px "Microsoft YaHei";
  color: #eb6100;
}
.hzcart .butn {
  width: 990px;
  height: 45px;
  margin-bottom: 50px;
  float: right;
}
.butn19 {
  width: 140px;
  height: 38px;
  background-position: 0 0;
}
.butn19,
.butn19_2,
.butn19_3 {
  background: url(//image.benlailife.com/webStatic/images/btn/butn19_47714c66.png) no-repeat;
  border: 0;
  cursor: pointer;
}
.fr {
  float: right;
  display: inline;
}
.hzcart a.continue {
  font-family: "Microsoft YaHei";
  font-size: 18px;
  padding: 0 25px 0 15px;
  line-height: 38px;
  float: right;
  color: #669934;
  background: url(//image.benlailife.com/webStatic/images/cart/goonbuy02_cfc9dde6.gif) no-repeat 0 13px;
}
.cart_none {
  display: none;
  float: left;
  width: 990px;
  height: 142px;
  text-align: center;
  padding: 100px 0;
  margin-bottom: 150px;
}
.cart_none img {
  width: 80px;
  position: relative;
  left: 550px;
}
img {
  font-size: 12px;
  vertical-align: middle;
}
.cart_none p {
  font: 400 14px/60px "Microsoft YaHei";
  position: relative;
  left: 100px;
}
.cart_none a {
  color: #abd13e;
  text-decoration: underline;
}
